h1 {
    color: rgb(218, 233, 17);
    background-color: rgb(105, 25, 180);
    border: 1px solid black;
    font-size: 40px;
    border: 3px solid rgb(218, 233, 17);
  }
  
h3 {
    color: rgb(218, 233, 17);
    background-color: rgb(105, 25, 180);
    font-size: 14px;
    border: 3px solid rgb(218, 233, 17);
    
  }

p,li {
    background-color: rgb(173, 238, 233);
    list-style-type: circle;
    padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  }
a {
  color: green ;
 }
html {
  background-color: skyblue;
}
img + p {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
